      <form method="post" action="/add">
        <div class="form-group">
          <label>Todo Name</label>
          <input type="text" name="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Todo body</label>
          <textarea name="body" class="form-control"></textarea>
        </div>
        <button type="submit" class="form-control btn btn-success">Submit</button>
      </form>