
  <% include ./partials/head %>

<h2 class="text-center">Vitals Tracker</h2>
<div class="row mt-6" >
  <div class="col-6">

      <% include ./partials/inputform %>
  </div>
  <div class="col-6">
    <% include ./partials/cards %>
          </div>
  </div>

    
    <footer>
      <% include ./partials/footer %>
    </footer>

